<% content_for :title do %>
  <%=' > '+t('search_page.title')+ ' ' + @param%>
<%end%>

<h1><%=t('search_page.title')+ ' "' + @param + '"'%></h1>
<ol class='results posts'>
<% @Posts.each do |post| %>
  <li class='result base'>
    <%=render :partial => 'posts/post', :locals =>{:post=>post,:base=>true , :search=>true}%>
  </li>
<%end%>
</ol>
