<% content_for :title do %>
  <%=@Post.title%>
<%end%>
<h1><%=@Post.title %></h1>
<ol class="results posts"  data-filters="PostList">
  <%=render :partial=>'list', :locals => {:posts=>@Posts, :current=>@current} %>
</ol>
